.borat-background{
    background-image: url('../images/Borat.png'); 
    height: 100vh;
    background-size: cover; 
    margin: 0;
    padding: 0;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.App {
    height: 100%;
}




  