@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  font-size: 14px;
  min-height: 100%;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  min-height: 100vh; 
  background-image: url('../images/Space.png'); 
  background-attachment: fixed;
  position: relative;
  background-position: center top; 
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #E4EDFC;
  background-color: #1F2833;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.border-bottom {
  border-bottom: 2px solid #66FCF1 !important;
}

body:not(.light-theme) .nav-link {
  font-size: 18px; 
}

body:not(.light-theme) .nav-link:hover {
  color: #0d6efd !important;
}


.text-dark {
  --bs-text-opacity: 1;
  color: #45A29E !important;
}

.container {
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  max-width: 1200px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  min-height: 100vh; 
}

h1 {
    font-family: 'Monotype Corsiva','Times New Roman', Times, serif;
    font-size: 4em;
    color: #66fcf1;
    text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.699);
    letter-spacing: 5px;
    font-weight:bolder;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 45px;
    font-size: 4em;
    line-height: 1.1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #1f2833;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; 
  border-top: 2px solid #66FCF1 !important;
}


.footer-container {
  color: #45A29E;
}

footer a {
  color: #45A29E;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


.text-muted {
  --bs-text-opacity: 1;
  color: #ffffff !important;
}

.row.mt-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

.card {
  background-color: #1F2833;
  border: 5px solid #66FCF1;
  border-radius: 120px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding:5px 35px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  margin: 60px;
  margin-top: -25px;
}

.col-md-6 {
  width: 50%
  
}

.card-title {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 3%;
}

.card-title:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-text {
  color: white;
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: center;
}

.card-link {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #1F2833;
  border-color: #66FCF1;
  border-radius: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 2px;
}


.btn.btn-primary:hover {
  transform: scale(1.05);
}

.col-md-12 {
  text-align: center;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 80%;
}

#theme-toggle {
  display: flex;
  border: 1.5px solid #66FCF1;
  border-radius: 1.2rem;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  white-space: nowrap;
  background-color: #1f2833 !important;
  color: #E4EDFC !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-toggle:hover {
  background-color: #E4EDFC!important;
  color: #120A15!important;
  border-color: #1F2833;
  transform: scale(1.05); 
}

.light-theme #theme-toggle {
  background-color: #120A15;
  color: #E4EDFC;
}

.btn-primary {
  color: #ffffff;
  background-color: #1F2833;
  border-color: #66FCF1;
}

.btn-outline-primary {
  color: #ffffff;
  background-color: #1F2833;
  border-color: #66FCF1;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #66FCF1;
}

.form-control {
  color: #ffffff;
  background-color: #1F2833;
  border-color: #66FCF1;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  justify-content: center;
  place-self: center;
  align-items: center;
}

  .form-control:hover {
    color: #ffffff;
    background-color: #1F2833;
    border-color: #66FCF1;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

.search-form {
    display: flex;
    justify-content: center;
    place-self: center;
    align-items: center;
    padding-top: 5%;
    margin-top: -50px;
    margin-bottom: 30px;
}

.search-form .input-group {
    max-width: 977px;
    width: 100%;
    justify-content: center;
    place-self: center;
    align-items: center;
}

.custom-input {
  color: #ffffff;
  background-color: #1F2833;
  border-color: #66FCF1;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  justify-content: center;
  place-self: center;
  align-items: center;
  margin-top: 10px;
}

  .custom-input:hover {
    color: #ffffff;
    background-color: #1F2833;
    border-color: #66FCF1;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

/* Light Theme Styles */
body.light-theme {
  color: #120A15;
  background-color: #E4EDFC;
}

body.light-theme #theme-toggle {
  background-color: #E4EDFC!important; /* Dark background for light theme */
  color: #120A15!important; /* Light text color for light theme */
  border-color: #1861ac; /* Dark border for light theme */
}

/* Hover effect in light theme */
body.light-theme #theme-toggle:hover {
  background-color: #120A15!important; /* Light background for hover */
  color: #E4EDFC!important; /* Dark text color for hover */
  border-color: #1861ac;
}  


body.light-theme h1 {
color: #1861ac;
}

body.light-theme header {
background-color: #E4EDFC;
}

body.light-theme .btn.btn-outline-primary {
color: #120A15;
background-color: #E4EDFC;
border-color: #1861ac;
border-radius: 5px;
}

body.light-theme .btn.btn-outline-primary:hover {
  opacity: 0.8;
  transform: none;
}

body.light-theme .btn-primary,
body.light-theme .btn-outline-primary {
color: #120A15 !important;
background-color: #E4EDFC !important;
border-color: #1861ac !important;
border-radius: 100px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.light-theme .btn-primary:hover,
body.light-theme .btn-outline-primary:hover {
  transform: scale(1.15);
}

body.light-theme .btn-primary {
color: #120A15;
background-color: #E4EDFC;
border-color: #1861ac;
border-radius: 100px;
}

body.light-theme .card {
color: #120A15;
background-color: #E4EDFC;
border-color: #1861ac;
}

body.light-theme .border-bottom {
border-bottom-color: #1861ac !important;
}

body.light-theme .card-title {
color: #120A15;
}

body.light-theme .card-text {
color: #120A15;
}

body.light-theme .card-link {
color: #7D91E1;
}

body.light-theme .form-control {
color: #120A15;
background-color: #E4EDFC;
border-color: #1861ac;
}

body.light-theme .footer-container,
body.light-theme .text-muted {
color: #120A15 !important;
}

body.light-theme footer {
color: #120A15;
background-color: #E4EDFC;
border-top: 2px solid #1861ac !important;
}

body.light-theme .footer[b-he1jpyb09p] {
border-top-color: #1861ac !important; 
}

body.light-theme .footer a {
color: #7D91E1;
text-decoration: none;
}

body.light-theme .footer a:hover {
  text-decoration: underline;
}

.article-count {
  color: #ffffff; 
  background-color: #1F2833; 
  border: 2px solid #66FCF1;
  border-radius: 100px; 
  padding: 10px 20px; 
  margin: 2px;
  font-weight: inherit;
}


body.light-theme .article-count {
  color: #120A15; 
  background-color: #E4EDFC;
  border-color: #1861ac; 
}





